*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("About.jpg");
    background-position: 50% 60%;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2% 6%;
}

nav img{
    width: 150px;
}

.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-link ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.uni{
    color: #f44336;
}

.nav-link ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 1.82rem;
}

/* ............main part */

.main{
    width: 84%;
    height: 90vh;
    /* background-color: aquamarine; */
    margin: auto;
    display: flex;
}

.left{
    width: 55%;
    height: 90vh;
    /* background-color: cadetblue; */
    font-size: 1.1rem;
    padding: 47px 0px 0px 90px;
}
.left h1{
    line-height: 60px;
}
.left p{
    padding: 25px 0px 0px 0px;
    line-height: 30px;
    color: rgb(81, 76, 76);
}


.right{
    width: 43%;
    height: 56vh;
    background-color: pink;
    background-image: url("About2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-left: 10px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #0acde3;
    border: 2.5px solid rgb(200, 52, 52);
    padding: 15px 40px;
    font-size: 13px;
    font-weight: 700;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
}

.hero-btn:hover{
    border: 2.5px solid #f44336;
    background-color: #0acde3;
    color: #fff;
    transition: 1s;
}


/* footer part............ */

.footer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 80px;
    
 }

 .footer p{
    margin-top: 30px;
    line-height: 30px;
 }
 
.footer h4{
    margin-top: 30px;
}

.footer h4 a{
    text-decoration: none;
}