*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("About.jpg");
    background-position: 50% 60%;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    /* background-color: #f44336; */
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2% 6%;
}

nav img{
    width: 150px;
}

.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-link ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.uni{
    color: #f44336;
}

.nav-link ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 1.82rem;
}

/* main part main */

.main2{
    height: 80vh;
    width: 80%;
    /* background-color: cadetblue; */
    margin: auto;
    position: relative;
    margin-top: 40px;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
}

.left{
    height: 75vh;
    width: 60%;
    background-image: url("Blog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.right{
    height: 77vh;
    width: 37%;
    /* background-color: chocolate; */
    margin-left: 24px;
}

.post-c{
    height: 7vh;
    width: 100%;
    background-color: #f44336;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-c p{
    color: #fff;
    font-size: 1.22rem;
    font-weight: 500;
}

.post-down{
    height: 8vh;
    width: 100%;
    margin: auto;
    color: rgb(61, 58, 58);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 10px; */
    padding: 20px;
    /* background-color: blue; */
}

/* Blog---facilities */

.facili{
    height: 110vh;
    width: 80%;
    /* background-color: aquamarine; */
    margin: auto;
    padding: 20px;
}

.para{
    height: 100vh;
    width: 60%;
    /* background-color: indianred; */
}
.para p{
    margin-top: 20px;
    line-height: 25px;
    color: rgb(80, 77, 77);
}

/* form fill */

.container{
    height: 70vh;
    width: 80%;
    margin: auto;
    /* background-color: cadetblue; */
}

.form{
    height: 70vh;
    width: 60%;
    border: 0.6px solid rgb(150, 146, 146);
    padding: 30px;
}
.form p{
    font-size: 1.11rem;
    font-weight: 600;
    padding: 0px 15px;
}

.name{
    height: 5.5vh;
    width: 95%;
    margin-top: 23px;
    font-size: 1rem;
    border: none;
    background-color: rgb(230, 225, 225);
    padding: 10px;
}

.name-C{
    height: 25vh;
    width: 95%;
    margin-top: 23px;
    font-size: 1rem;
    border: none;
    background-color: rgb(230, 225, 225);
    padding: 10px; 
    
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #0acde3;
    border: 2.5px solid #0acde3;
    padding: 15px 40px;
    font-size: 13px;
    font-weight: 700;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
}

.hero-btn:hover{
    border: 2.5px solid #0acde3;
    background-color: #0acde3;
    color: #fff;
    transition: 1s;
}


/* footer paart */

.footer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 80px;
    
 }

 .footer p{
    margin-top: 30px;
    line-height: 30px;
 }
 
.footer h4{
    margin-top: 30px;
}

.footer h4 a{
    text-decoration: none;
}